.discounts-wrapper{
    display:grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding:2rem 5rem;
    justify-items: center;
    align-items: center;
    gap:1rem;
    margin-bottom:5rem;

}

.discount{
    width: 100%;
    border-radius: 16px;
    transition: all .3s;
}

.discount:hover{
    transform: scale(1.04);
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}

.image1 {
    grid-row: 1/3;
    
}
